<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Guilherme Schuch">
    <link rel="stylesheet" href="../css/advice.css">
    <script src="../js/script.js" defer></script>
    <title>WiseGoat</title>
</head>
<body>
    <h1 class="title"><a href="index.html">Wise <span class="highlight">Goat</span></a></h1>
    <div class="container">
        <div class="text">
            <p class="advice"></p>
            <h2 class="author">- Goat</h2>
        </div>

        <div class="image">
            <img src="../assets/bodezinho.png" alt="Bode">
        </div>
    </div>
</body>
</html>